body {
    font-family:Arial, Helvetica, sans-serif;
    width: 960px;

    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

strong {
    font-weight:600;
}

.tec {
    font-family: Courier, monospace;
}

.identacao {
    text-indent: 4ch;
}

.texto-centralizado {
    text-align: center;
}



h1 {
    text-align: center;
    font-size: 40px;
}

h2 {
    background-color: #0c632f; 
    color: #CCC;

    padding: 8px;
    padding-left: 35px;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 40px;
}


