body {
    font-family: Arial, Helvetica, sans-serif;
    width: 1024px;

    margin-left: auto;
    margin-right: auto;

}


#titulo {
    text-align: center;
    text-shadow: 2px 2px 8px rgba(30,13,8,0.9);
}
/* menu de navegação */
.menu {
    float: left;
    width: 200px;
}
.menu-lg {
    list-style: none;
}
nav li {
    padding: 8px;
    border-radius: 5px;
    border-top-right-radius: 30px;
    
    background-color: #9e6305;
    margin-bottom: 10px;
    transition: 2s;
}

nav li:hover {
    background-color: #1f1301;
}

nav a {
    text-decoration: none;
    color: #DDD;
}


/* ------------------ */

/* conteudo */
.conteudo {
    float: right;
    width:800px;
}